.section-conteudo{
  padding: 0 12vw;
}

.Card{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 8px #00000029;
  border: 2px solid #DFDFDF;
  border-radius: 10px;
  opacity: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 250px;
  overflow: hidden;
  transform: skewY(11deg);
  
}

.image-box{  
  position: relative;
  bottom: 25px; 
  overflow: hidden;
  width: 250px;
  height: 225px;
}

.card-image{
  width: 100%;
  height: 86%;
}

.Text-box{
  position: relative;
  text-align: left;
  max-width: 200px;
  bottom: 55px;
  height: 60px
}

.blue{
  background: #00005A;
  width: 250px;
  height: 195px;
  position: absolute;
  z-index: 10;
  opacity: 0.30;
}

.yellow{
  background: #FFDC00;
  width: 250px;
  height: 195px;
  position: absolute;
  z-index: 10;
  opacity: 0.30;
}

.description{
  color: #414141;
  font-size: 16px;
  max-height: 100px;
  font-weight: 600;
}

.type{
  color: #A2A2A2;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
}

.bottom{
  color: #A2A2A2;
  font-size: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.container{
  display: flex;
  width: 100% ;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto; 
  transform: skewY(-11deg);
  
}

.btn{
  height: 0px;
  left: 50px;
  bottom: 80px;
  position: relative;
  z-index: 40;
}

.top{
  color:#414141;
  position: relative;
  
  max-width: 500px;
}

.Conteudo-title{
  position: relative;
  
  bottom:2vh;
  font-size: 40px;
  font-weight: 600;
}

.foot{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.foot-text{
  color: #414141;
  max-width: 340px;
  text-align: right;
  
}
