
element.style {
    display: flex;

}      

.Services{
    width: 78vw;
    padding: 5vw 10vw 10vw 10vw;
  
       
}
.services-card{
    height: 800px;
}

.services-top{
    display: flex;
    flex-direction: column;
    text-align: right;
}

#Services-title{
    color: #414141;
    font-size: 40px;
    font-weight: 600;
    margin-top: 0px

}

#Services-description{
    color: #414141;
    font-size: 12px;
}

.slick-dots{
    display: flex;
    justify-content: center;
    width: 55%;
    padding: 0;
    margin-top: 100px;
    list-style: none;
    text-align: center;
}


.slick-dots li{
    content: none;
    height: 10px;
    width: 10px;
    background-color: #414141;
    opacity: 0.15;
    border-radius: 50%;
    box-shadow: 2px 2px 4px #00222D33;
}

.Slider .slick-dots .slick-active{
    background-color: #414141;
    opacity: 0.35;
    box-shadow: none;
    transform: scale(1.4);
}

.slick-dots li button:before{
    content: none;
}

.center .slick-center{
    transform: scale(1.5)
}

.slick-prev:before{
    content: url(arrow.svg);
    
}
.slick-next:before{
    content: url(arrow.svg);
}

@media only screen and (max-width: 700px){
    .slick-dots{

    }

}



