.button-widget{
    position: fixed;
    z-index: 4;
    bottom: 8vh;
    right: 5vw;
    background-color:#FFDC00;
    box-shadow: 0px 3px 12px #00000029;
    cursor: pointer;
    border: none;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    outline: none;
    filter: blur(0px);
}

.widget-background {
    position: fixed;
    z-index: 3;
    bottom: 0;
    right: 0;
    background-color: black;
    border-top-left-radius: 1000px;
    opacity: 0.3;
    width: 800px;
    height: 800px;
    transition: 0.3s;
    filter: blur(20px);
}

.widget-chat {
    position: fixed;
    z-index: 4;
    bottom: 18vh;
    right: 5vw;
    width: 380px;
    height: 140px;
    padding: 15px 30px 0px 30px;
    box-shadow: 0px 2px 8px #00000029;
    border: 2px solid #DFDFDF;
    border-radius: 15px;
    background-color: #fff;
}

.widget-text {
    color: #414141;
    font-size: 1.2rem;
}

.widget-input-button {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.widget-input {
    width: 100%;
    font-size: 1.2rem;
    box-sizing: border-box;
    height: 40px;
    border: 2px solid #DFDFDF;
    padding: 5px 5px;
    padding-left: 15px;
    border-radius: 15px;
    outline: none;
}

.widget-submit-message {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    background-color: #FFDC00;
    border-radius: 0px 15px 15px 0px;
    border: none;
    align-self: flex-end;
    height: 40px;
    width: 12%;
    margin-top: -40px;
    border: 2px solid #DFDFDF;
    border-left: none;
    cursor: pointer;
    outline: none;
}

