
.Card-shape-sc{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 8px #00000029;
    border: 2px solid #DFDFDF;
    border-radius: 20px;
    opacity: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 15vw;
    height: 45vh;
    overflow: hidden;
    
}

.image-box-sc{  
    position: relative;
    bottom: 25px; 
    overflow: hidden;
    width: 15vw;
    height: 30vh;
}


.card-image-sc{
    width: 100%;
    height: 86%;
    z-index: 0;
    object-fit: cover;
    
}

.Description-sc{
    position: relative;
    text-align: left;
    max-width: 12vw;
    font-size: 0.8vw;
    bottom: 40px;
    color: #707070;
    opacity: 1;
}

.title-sc{
    z-index: 11;
    width: 11vw;
    position: relative;
    bottom: 16vh;
    left : 2vw;
    color: #FFFFFF;
    text-align: right;
    font-weight: 600;
    font-size: 1.5vw;
}
    

.blue-sc{
    background: linear-gradient(#00005A4A,#00005A);
    width: 15vw;
    height: 25.7vh;
    position: absolute;
    z-index: 10;
    opacity: 0.50;
}


/*             Card do meio               */


.Card-shape-center{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 8px #00000029;
    border: 2px solid #DFDFDF;
    border-radius: 20px;
    opacity: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 15vw;
    height: 45vh;
    overflow: hidden;
    
    
    
}
.Services-card{
    height: 52vh;
    
}

.image-box-center{  
    position: relative;
    bottom: 5vh; 
    overflow: hidden;
    width: 15vw;
    height: 18vh;

}


.card-image-center{
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;   
}

.Description-center{
    position: relative;
    text-align: left;
    max-width: 12.3vw;
    height: 15vh;
    font-size: 0.8vw;
    color: #707070;
    opacity: 1;
    bottom: 0vh;
}


.blue-center{
    background: linear-gradient(#00005A4A,#00005A);
    width: 15vw;
    height: 18vh;
    position: absolute;
    z-index: 10;
    opacity: 0.50;
}

.container-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title-box-center{
    position: relative;
    text-align: center;
    max-width: 12vw;
    max-height: 0px;
    font-size: 1.2vw;
    font-weight: 600;
    bottom: 8vh;
    color: #414141;
    opacity: 1;
    
}

.Button-box-center{
    position: relative;
    text-align: center;
    max-width: 15vw ;
    max-height: 0px;
    font-size: 8px;
    bottom: 15px;
    color: #414141;
    opacity: 1;
}

.container-services-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
}


@media only screen and (max-width: 820px){
    .Card-shape-sc {
        width: 190px;
        height: 270px;
    }

    .Card-shape-center{ 
        width: 190px;
        height: 270px;
    }

    .Button-box-center{
     max-width: 190px ;
    }

    .blue-center{
        width: 195px;
        height: 117px;
    }
    .Description-center{
        max-width: 156px;
        font-size: 10px;
        height: 65px;
    }

    .image-box-center{  
        width: 195px;
        height: 117px;

    }

    .title-box-center{
    max-width: 161px;
    max-height: 0px;
    font-size: 16px;
    }
}