
.Card-shape-sc{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 8px #00000029;
    border: 2px solid #DFDFDF;
    border-radius: 20px;
    opacity: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 190px;
    height: 270px;
    overflow: hidden;
    
}

.image-box-sc{  
    position: relative;
    bottom: 25px; 
    overflow: hidden;
    width: 195px;
    height: 225px;
}


.card-image-sc{
    width: 100%;
    height: 86%;
    z-index: 0;
    object-fit: cover;
    
}

.Description-sc{
    position: relative;
    text-align: left;
    max-width: 156px;
    font-size: 10px;
    bottom: 40px;
    color: #707070;
    opacity: 1;
}

.title-sc{
    z-index: 11;
    width: 150px;
    position: absolute;
    bottom: 25%;
    left : 15%;
    color: #FFFFFF;
    text-align: right;
    font-weight: 600;
    font-size: 18px;
}
    

.blue-sc{
    background: linear-gradient(#00005A4A,#00005A);
    width: 195px;
    height: 193px;
    position: absolute;
    z-index: 10;
    opacity: 0.50;
}


/*             Card do meio               */


.Card-shape-center{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 8px #00000029;
    border: 2px solid #DFDFDF;
    border-radius: 20px;
    opacity: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 190px;
    height: 270px;
    overflow: hidden;
    
    
}
.Services-card{
    height: 310px ;
}

.image-box-center{  
    position: relative;
    bottom: 35px; 
    overflow: hidden;
    width: 195px;
    height: 117px;

}


.card-image-center{
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;   
}

.Description-center{
    position: relative;
    text-align: left;
    max-width: 156px;
    font-size: 10px;
    color: #707070;
    opacity: 1;
    bottom: 1vh;
}


.blue-center{
    background: linear-gradient(#00005A4A,#00005A);
    width: 195px;
    height: 117px;
    position: absolute;
    z-index: 10;
    opacity: 0.50;
}

.container-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title-box-center{
    position: relative;
    text-align: center;
    max-width: 161px;
    max-height: 0px;
    font-size: 16px;
    font-weight: 600;
    bottom: 60px;
    color: #414141;
    opacity: 1;
    
}

.Button-box-center{
    position: relative;
    text-align: center;
    max-width: 161px;
    max-height: 0px;
    font-size: 8px;
    left: 18px;
    bottom: 15px;
    color: #414141;
    opacity: 1;
}

.container-services-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
