@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.Banner-image{
    width: 1000px;
  }

.Banner{
  float: right; 
}

.Texts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;
    margin-top: 150px;
    position: absolute;
    font-family: Poppins;
}

.Title{
    max-width: 500px;
    font-size: 42px;
    max-height: 80px;
    letter-spacing: 0px;
    color: #414141;
    opacity: 1;
}

.Description{
    max-width: 400px;
    font-size: 16px;
    height: 130px;
    letter-spacing: 0px;
    color: #414141;
    opacity: 1;
}