
.depoiments{
    position: relative;
    width: 78vw;
    padding: 5vw 10vw 10vw 10vw; 
       
}

.depoiments-top{
    display: flex;
    flex-direction: column;
    text-align: right;
}

#depoiments-title{
    color: #414141;
    font-size: 4rem;
    font-weight: 600;
    margin-top: 0px;

}

#depoiments-description{
    color: #414141;
    font-size: 1.2rem;
}

.slick-dots{
    display: flex;
    justify-content: center;
    width: 55,1%;
    padding: 0;
    margin-top: 100px;
    list-style: none;
    text-align: center;
}


.slick-dots li{
    content: none;
    height: 10px;
    width: 10px;
    background-color: #414141;
    opacity: 0.15;
    border-radius: 50%;
    box-shadow: 2px 2px 4px #00222D33;
}

.Slider .slick-dots .slick-active{
    background-color: #414141;
    opacity: 0.35;
    box-shadow: none;
        
}

.slick-dots li button:before{
    content: none;
}

.slick-prev{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}



.slick-prev:before{
    content: url(arrow.svg);
    transform: rotate(180deg) !important;  
    
}
.slick-next:before{
    content: url(arrow.svg);
}

@media only screen and (max-width: 700px){
    .slick-dots{
        width: 65%;
    }


    .slick-prev{
        transform: scaleX(-1) scale(0.5);
        margin-left: 30px;
    }
    
    .slick-next{
        transform: scale(0.5);
        margin-right: 30px;
    }

    .Grey-box-sc{
        height: 45vh;
        left: auto;
        right: 0;
    }

    #depoiments-title{
      font-size: 2rem;
        
    }

    #depoiments-description{
        font-size: 1.0rem;
    }

}

