:root {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  width: 100vw;
}

a {
  background-color: transparent;
}