.Header{
    display: flex;
    align-items: flex-start;
    z-index: 0;
}

.imgLogo{
    padding-left: 11vh;
    padding-right: 7vh;
}

.imgBanner{
    width: 100vw;
    height: 100vh;
}

.logoTexto{
    display: flex;
    flex-direction: column;
    height: 98vh;
}

.texto{
    position: absolute;
    z-index: 1;
    margin-top: 200px;
    padding-left: 10vh;
}

.titulo{
    font-size: 70px;
    width: 700px;
    height: 184px;
}

.descricao{
    font-size: 30px;
    width: 614px;
    height: 125px;
}